@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {     
    margin: auto; 
    max-width: 800px; 
    padding: 20px; 
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p,header {
    text-align: center;
}

header, .fixed-button {
    font-family: "ONE-Mobile-POP", sans-serif;
}

#chatLog {
    width: 95%;
    height: 300px;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#toggleBtn.active {
    background-color: #e1f5fe;
}

.fixed-button {
    position: fixed;
    top: 5px;
    right: 5px;
    background-color: #e05a77;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.notice-content{
    display: none;
    position: fixed;
    top: 30px;
    right: 5px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    width: 250px;
}

.button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

.chat-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #000; 
    padding: 10px; 
    border-radius: 5px;
    background-color: solid #ccc
}

.user-input { 
    width: 95%;
    padding: 10px;
    text-align: left;
}

.button:hover {
    background-color : #e1f5fe;
}

.chat-log { 
    margin-top: 20px;
    margin-left: 0px;
}

.chat-message { 
    padding: 10px; 
    margin: 10px 10px; 
    padding: 10px 10px;
    border-radius: 5px; 
}

.user-message { 
    background-color: #f1f1f1; 
}

.assistant-message { 
    background-color: #e1f5fe; 
}
